*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.clockbody{
    padding: 2px;
    min-height: 460px;
    min-width: 220px;
    border-radius: 1%;
    box-shadow: 1px -1px 8px 0px rgba(0,0,0,0.75);
    background-color: #493C31;
    color: white;
}

.clockscreen{
    width: 400px;
    height: 150px;
    background-color: white;
    color: rgb(0, 202, 202);
    border: 5px solid gray;
    text-align: center;
    justify-content: center;
    padding: 2px;
    margin: 2px;
}

.btns{
    display: flex;
    padding-bottom: 25px;
    justify-content: space-around;
    border-top: 2px dashed #e6e6e6;
    border-bottom: 2px dashed #e6e6e6;
}

.sessiontimediv{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.breaktimediv{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.morebtns{
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 1px;
}

input{
    border: none;
    color: white;
    background-color: rgb(36, 36, 36);
    border-radius: 2px;
    padding: 5%;
    font-weight: bold;
}

input:hover{
    background-color: rgb(56, 56, 56);
}

.btns input{
    min-width: 40%;
}

.sessiontimediv h2{
    color: rgb(0, 202, 202);
}

.breaktimediv h2{
    color: orangered;
}

.clockscreen h1{
    padding-top: 10%;
}